.frame-child {
  height: 48.7px;
  width: 205.2px;
}
.frame-child,
.home {
  position: relative;
}
.hover-effect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-2 {
  position: relative;
}
.hovereffect {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-3 {
  position: relative;
  white-space: nowrap;
}
.hover-effect-2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-4 {
  position: relative;
  white-space: nowrap;
}
.hover-effect-3 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-5 {
  position: relative;
}
.hover-effect-2-parent,
.hover-effect-4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hover-effect-2-parent {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.home-6 {
  flex: 1;
  position: relative;
}
.hover-effect-5 {
  width: 45px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.home-7 {
  position: relative;
  white-space: nowrap;
}
.hover-effect-6,
.hover-effect-parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.hover-effect-parent {
  flex: 1;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.frame-item {
  height: 40px;
  width: 137px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-cornflowerblue-100);
  display: none;
}
.get-the-app {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-lato);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.rectangle-parent {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) 21px var(--padding-3xs) 26px;
  background-color: var(--color-cornflowerblue-100);
  border-radius: var(--br-xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
}
.rectangle-parent:hover {
  background-color: #0d8ae6;
}
.frame-group {
  width: 788px;
  align-items: center;
  justify-content: flex-start;
  gap: 38px;
}
.desktop-1-inner,
.frame-group,
.frame-parent {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.desktop-1-inner {
  width: 1332px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 48px 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-gray);
  font-family: var(--font-lato);
}
.frame-inner {
  width: 1440px;
  height: 920px;
  position: relative;
  border-radius: 0 0 var(--br-31xl) var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.launching-soon {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.first-vector-icon,
.frame-icon,
.vector-group-icon {
  position: absolute;
  top: 14px;
  left: 0;
  width: 11.6px;
  height: 6.4px;
  object-fit: contain;
  z-index: 1;
}
.first-vector-icon,
.vector-group-icon {
  top: 0.2px;
  left: 1px;
  width: 10.9px;
  height: 13.5px;
}
.first-vector-icon {
  top: 0;
  left: 17.1px;
  width: 4.5px;
  height: 12.3px;
}
.text {
  height: 20px;
  width: 22px;
  position: absolute;
  margin: 0 !important;
  top: -13px;
  left: -19px;
}
.vector1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
}
.last-vector-icon {
  width: 18px;
  height: 21px;
  position: relative;
  z-index: 1;
}
.second-vector,
.vector-parent {
  display: flex;
  justify-content: flex-start;
}
.second-vector {
  flex-direction: column;
  align-items: flex-start;
  padding: 0 0 5px;
}
.vector-parent {
  flex-direction: row;
  align-items: flex-end;
  gap: 8px;
}
.vector,
.vector-inner {
  display: flex;
  justify-content: flex-end;
}
.vector-inner {
  flex-direction: column;
  align-items: flex-end;
  padding: 13px 0 0 19px;
}
.vector {
  width: 336px;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.line-icon {
  height: 3px;
  width: 12px;
  position: relative;
  z-index: 1;
}
.the-most-affordable {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.vector-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  max-width: 100%;
}
.your-on-demand {
  margin: 0;
}
.truride-booking-app {
  margin: 0;
  color: var(--color-cornflowerblue-100);
}
.your-on-demand-container {
  margin: 0;
  height: 120px;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.the-most-affordable1 {
  margin: 0;
}
.the-most-affordable-container {
  height: 120px;
  flex: 1;
  position: relative;
  display: inline-block;
  max-width: 100%;
  z-index: 1;
}
.a-i-integrated-text,
.ellipse-group,
.launching-soon-frame {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.ellipse-group {
  flex-direction: row;
  padding: 0 0 0 6px;
  box-sizing: border-box;
  font-size: var(--font-size-xl);
  color: #5c5b5b;
}
.a-i-integrated-text,
.launching-soon-frame {
  flex-direction: column;
}
.a-i-integrated-text {
  gap: var(--gap-xl);
  font-size: 50px;
}
.launching-soon-frame {
  gap: 41px;
}
.empty-frame-icon,
.empty-frame-icon1 {
  align-self: stretch;
  width: 237px;
  position: relative;
  border-radius: var(--br-3xs);
  max-height: 100%;
  object-fit: cover;
  min-height: 63px;
  z-index: 1;
}
.home-frame,
.second-ellipse {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 17px;
  max-width: 100%;
}
.home-frame {
  align-self: stretch;
  flex-direction: column;
  gap: 48px;
}
.worldwide-downloads-text {
  height: 79px;
  width: 78px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
  min-height: 79px;
  z-index: 1;
}
.worldwide-downloads-text1 {
  min-height: 79px;
  z-index: 2;
  margin-left: -39px;
}
.ellipse-container-icon,
.worldwide-downloads-text1,
.worldwide-downloads-text2 {
  width: 78px;
  height: 79px;
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.worldwide-downloads-text2 {
  min-height: 79px;
  z-index: 3;
  margin-left: -39px;
}
.ellipse-container-icon {
  z-index: 4;
}
.group-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs) 0 0;
  margin-left: -39px;
}
.childless-frame-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  background-color: #eee;
  border: 6px solid var(--color-white);
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 5;
}
.vector-triplet-icon {
  position: absolute;
  top: 26px;
  left: 25px;
  width: 28px;
  height: 28px;
  z-index: 6;
}
.childless-frame {
  height: 79px;
  flex: 1;
  position: relative;
}
.frame-with-no-children {
  width: 78px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: -39px;
}
.million-text {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2px 0 0;
}
.million {
  position: relative;
  font-weight: 800;
  z-index: 1;
}
.worldwide-downloads {
  position: relative;
  font-size: 17px;
  color: #b6b6b6;
  z-index: 1;
}
.text-frames-duo {
  flex-direction: column;
  gap: 2px;
}
.first-frame,
.million-text-parent,
.rectangle-frame,
.text-frames-duo {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rectangle-frame {
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
}
.first-frame,
.million-text-parent {
  max-width: 100%;
}
.million-text-parent {
  flex-direction: row;
  gap: 29px;
  font-size: var(--font-size-xl);
  color: #000;
}
.first-frame {
  flex: 1;
  flex-direction: column;
  gap: 56px;
  min-width: 385px;
}
.nothing-phone-1 {
  position: absolute;
  top: 39px;
  left: 43px;
  width: 383px;
  height: 726px;
  object-fit: cover;
  z-index: 1;
}
.nothing-phone-icon-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 86.4px;
  height: 62.4px;
  z-index: 2;
}
.nothing-phone-icon {
  height: 765px;
  width: 426px;
  position: relative;
  min-width: 426px;
  max-width: 100%;
}
.frame-container {
  width: 1090px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 72px;
  max-width: 100%;
  text-align: left;
  font-size: 22px;
  color: var(--color-gray);
  font-family: var(--font-lato);
}
.desktop-1,
.rectangle-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}
.rectangle-group {
  align-self: stretch;
  border-radius: 0 0 var(--br-31xl) var(--br-31xl);
  background-color: var(--color-whitesmoke-100);
  padding: 14px 94px 28px var(--padding-xl);
  gap: 64px;
  max-width: 100%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-cornflowerblue-100);
  font-family: var(--font-lato);
}
.desktop-1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  padding: 35px 0 0;
  gap: 21px;
  letter-spacing: normal;
}
@media screen and (max-width: 1200px) {
  .desktop-1-inner {
    padding-right: 24px;
    box-sizing: border-box;
  }
  .frame-container {
    gap: 36px;
  }
  .rectangle-group {
    padding-right: 47px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 1050px) {
  .hover-effect-parent {
    display: none;
  }
  .frame-group {
    width: 175px;
  }
  .launching-soon {
    font-size: 24px;
  }
  .your-on-demand-container {
    font-size: 40px;
  }
  .nothing-phone-icon {
    flex: 1;
  }
  .frame-container {
    flex-wrap: wrap;
  }
  .rectangle-group {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .launching-soon-frame {
    gap: var(--gap-xl);
  }
  .second-ellipse {
    flex-wrap: wrap;
  }
  .home-frame {
    gap: 24px;
  }
  .million-text-parent {
    flex-wrap: wrap;
  }
  .first-frame {
    gap: 28px;
  }
  .first-frame,
  .nothing-phone-icon {
    min-width: 100%;
  }
  .frame-container {
    gap: 18px;
  }
  .rectangle-group {
    gap: 32px;
    padding-right: 23px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .frame-group {
    gap: 19px;
  }
  .launching-soon,
  .the-most-affordable {
    font-size: var(--font-size-lg);
  }
  .your-on-demand-container {
    font-size: var(--font-size-11xl);
  }
  .million,
  .the-most-affordable-container {
    font-size: var(--font-size-base);
  }
  .rectangle-group {
    gap: var(--gap-base);
  }
}
